<div class="inicio">
<p class="text-center"><body background="http://www.fondobook.com/wp-content/uploads/2012/03/fondo_ipad_lagarto_azul_3d.jpg" ></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p class="text-center"><img src="http://www.radiosolchiapas.com.mx/images/bienvenidos.png" alt="Responsive image" class="Responsive image"></p>
	<h1><p class="text-center">Hola a Todos!!!</p></h1>
	<h3><p class="text-center"><%= link_to "Ingresa a My Blog", controller: "posts" %></p></h3>
</div>
