<p class="text-center"><body background="http://www.fondos7.net/wallpaper-original/wallpapers/nubes-de-verano-3030.jpg" ></p>
<div class ="news">
	<h1>Nueva Publicacion!!</h1>
	 
	<%= render 'form' %>
	 
	<strong><u><%= link_to 'Back', posts_path %></u></strong>
</div>
