.news {
	background: url("http://wallpaperslife.files.wordpress.com/2010/09/1920x1440-fullscreen.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
	color: white;
	background-color: black;
}
