// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron .tabla h1{
	
  background: url("http://2.bp.blogspot.com/-b_yhPZo02xU/TZnsCrs5KgI/AAAAAAAAAXI/1vOr_nyiBAU/s1600/Hoja+oto%25C3%25B1al.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	display: inline;
	margin-left: 50px;
	color: blue;
	font-family: arial,helvetica,sans-seriff;
	text-transform: uppercase;
}

.jumbotron .tabla {
	padding: 100px;
	border: 5px solid #cc0000;
	 background: url("http://wallpaperslife.files.wordpress.com/2010/09/1920x1440-fullscreen.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	background-image: url("http://wallpaperslife.files.wordpress.com/2010/09/1920x1440-fullscreen.jpg");
	border: 0; 
	height: 1200px;
	width: 1720px;
	margin-left: auto;
	margin-right: auto;
	color: black;
	font-weight: bold;
	font-family: arial,helvetica,sans-seriff;
}

.jumbotron .tabla h2{
	margin-left: 70px;
	font-family: arial,helvetica,sans-seriff;
	color: green;
}

.jumbotron .tabla tr{
	color: white;
	text-transform: underline;
}

.jumbotron .tabla tr th{
	color: orange;
	text-transform: underline;
}
